*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Inter", sans-serif;
    background-color: rgb(255, 255, 255);
}
/* Shared Style */
.btn{
     padding: 10px 15px;
     background-color:#469165;
     color: white;
     border: none;
     border-radius: 6px;
     font-size: 15px;
}
.btn:hover{
    background-color:#001931;
}

.masterwid{
    width: 100%;
    max-width: 1140px;
    margin: 50px auto;
}
.btnn{
    background: none;
    border: 1px solid rgba(220, 220, 220, 0.384);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:16px 10px 16px 10px ;
}
nav img {
    width: 100px;
}
nav ul{
    display: flex;
    gap: 22px;
}
nav ul li a{
      text-decoration: none;
      font-size: 14px;
      color:  rgba(0, 0, 0, 1);
}
/* Hero Section Styling */
.hero-section{
    text-align: center;
    padding: 70px 10px;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section button img {
    width: 9px;
}
.btn2{
    background-color: white;
    color: #469165;
    font-size: 15px;
    margin-bottom: 40px;
    border-radius: 12px
}
.hero-section h1{
    width:710px;
    font-size: 64px;
    margin: auto;
    color: white;
    text-transform: capitalize;
}
.hero-section span {
    display: block;
    color: #30B868;
}
.hero-section p{
    font-size: 14px;
    color:rgba(255, 255, 255, 1);
    width: 700px;
    margin: 30px auto;
}
/* Notes Section Styling */
.notes-section{
    text-align: center;
}
.notes-section h1{
    font-size: 30px;
}
.notes-section p{
    font-size: 13px;
    color: rgba(98, 115, 130, 1) ;
    margin: 20px 0;
   
}
.notes-card img {
    width: 30px;
    height: 30px;
    background: rgba(249, 85, 85, 1);
    padding: 7px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.notes-card{
    border: 1px solid rgba(0, 0, 0, 0.11);
    width: 270px;
    padding: 30px ;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.036);
    background:#fff;
    border-radius: 4px;
    margin-top: 40px ;
}
.notes-card h2{
    font-size: 20px;
}
.notes-parant{
    display: flex;
    gap: 20px;
}
/* Brain section styling */

.brain-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top:40px;
}
 .knowledge, img {
    width: 420px;
}
.brain-section-right{
    width: 500px;
}
.brain-section-right h4{
   font-size: 15px;
   text-transform: uppercase;
   color: #30B868;
   margin-bottom: 20px;
}

.brain-section-right img {
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
}
.brain-section-right h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.brain-section-right p {
    font-size: 13px;
    color: rgba(98, 115, 130, 1) ;
    margin: 20px 0;
}
.brain-section-right ul li {
   color: #000305 ;
   font-size: 14px;
   margin-bottom: 15px;
}
 /* Access Secction Styling */

 .access-section{
    text-align: center;
    background-color: #f9f7f0;
    /* height: 300px; */
    padding: 60px 40px;
    border-radius: 7px;
    margin-bottom: 40px;
 }
 .access-section h1{
    color: rgba(0, 25, 49, 1);
    text-transform:capitalize;
    margin: 20px 0;
 }
 .access-section p{
     font-size: 14px ;
     color:  rgba(98, 115, 130, 1);
     width: 450px;
     margin:  20px auto;
 }
 .access-section img {
    width:14px;
    margin-bottom:-3px;
 }
 /* Footer Section styling */

 footer{
    background-color: #001931;
 }
 .footer_content img {
    width: 100px;
 }
 .social-section img {
    width:20px;
 }
 .social-section p {
    color: white;
    margin-bottom: 10px;
 }
 .footer-containr-main{
   border-bottom:1px solid rgba(142, 139, 139, 0.584) ;
 }
 .footer_content{
     height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .footer-containr-main, h6{
    color: white;
    text-align: center;
    padding: 10px 0;
 }